
@{
    ViewData["Title"] = "ViewApi";
}

<h1>View the Api REST</h1>

<a href="/api/ClientsApi">List of Clients (api/ClientsApi)</a>
<a href="/api/AddressesApi">List of Addresses (api/AddressesApi)</a>


